@media screen and (max-width: 1000px) {
  section {
    padding: 0 80px;
  }
  article {
    width: auto;
  }

  article h1 {
    font-size: 30px;
  }

  article p {
    font-size: 24px;
  }
  .container-redirect-auth {
    width: 300px;
    padding: 15px 0;
    gap: 0px;
    justify-content: space-around;
  }
}
@media screen and (max-width: 800px) {
  section {
    padding: 0 40px;
  }
}

@media screen and (max-width: 600px) {
  section {
    padding: 0 15px;
  }

  article h1 {
    font-size: 28px;
  }

  article p {
    font-size: 20px;
  }
  .container-redirect-auth {
    width: 220px;
    padding: 10px 0;
    border: 3px solid rgb(61, 61, 61);
  }
  .container-redirect-auth button {
    font-size: 14px;
    padding: 10px 6px;
  }
}

@media screen and (max-width: 400px) {
  article p {
    font-size: 16px;
  }
}
