section {
  height: 100vh;
  width: 100vw;
  min-height: 320px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-size: 10%;

  background: rgb(242, 242, 242);
  background-image: url("../../../assets/background-view-welcome.svg");
}

article {
  background-color: var(--first-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  border: 5px solid black;
  border-radius: 10px;
  padding: 20px 10px;
  gap: 20px;
}

article h1 {
  font-size: 40px;
  font-weight: 800;
}

article p {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.container-redirect-auth {
  background-color: var(--third-color);
  display: flex;
  padding: 25px 0;
  gap: 50px;
  border-radius: 10px;
  width: 500px;
  justify-content: center;
  border: 5px solid rgb(61, 61, 61);
}

.container-redirect-auth button {
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  padding: 8px;
  background-color: var(--second-color);
  color: var(--first-color);
  cursor: pointer;
}

.container-redirect-auth button:hover {
  transform: scale(1.1);
}

.container-redirect-auth button:active {
  background-color: var(--fourth-color);
}
