.container {
  display: flex;
  height: 100vh;
}

.container .chat-rooms-section {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
  overflow: auto;
  background-image: url(../../../assets/SprinkleBackgroundChatRoom.svg);
  background-size: 130%;
}

.container-chat-rooms-card {
  display: grid;
  grid-template-columns: 200px;
  grid-template-columns: repeat(auto-fill, 140px);
  grid-template-rows: repeat(auto-fill, 140px);
  padding: 0 30px;
  gap: 80px;
}

.container .chat-rooms-section header {
  width: 100%;
  background-color: var(--third-color);
  padding: 20px 80px;
  font-weight: 700;
  font-size: 24px;
  color: var(--first-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
mat-icon {
  color: white;
  font-size: 30px;
  margin: 0 2px 5px 0;
  text-align: center;
}
