@media screen and (max-width: 800px) {
  .container .chat-rooms-section header {
    padding: 15px 20px;
    font-weight: 700;
    font-size: 20px;
  }
  .container .chat-rooms-section {
    padding: 200px 20px;
    flex: 1;
    display: grid;
    grid-template-columns: 200px;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-template-rows: repeat(auto-fill, 100px);
    gap: 50px;
  }
}
