.container {
  display: flex;
  height: 100vh;
}

.container .chat-rooms-section {
  position: relative;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
  overflow: auto;
  background-image: url(../../../assets/SprinkleBackgroundChatRoom.svg);
  background-size: 130%;
}

.container-cards {
  display: grid;
  grid-template-columns: 200px;
  grid-template-columns: repeat(auto-fill, 140px);
  grid-template-rows: repeat(auto-fill, 140px);
  padding: 0 30px;
  gap: 80px;
}

.load-spinner {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50% -50%);
}
