<div class="container">
  <app-side-bar-menu> </app-side-bar-menu>
  <section class="chat-rooms-section">
    <app-header></app-header>
    <div class="container-chat-rooms-card">
      <app-chat-room-card roomName="Aventure"></app-chat-room-card>
      <app-chat-room-card roomName="Action"></app-chat-room-card>
      <app-chat-room-card roomName="Sport"></app-chat-room-card>
      <app-chat-room-card roomName="Dance"></app-chat-room-card>
      <app-chat-room-card roomName="Movies"></app-chat-room-card>
      <app-chat-room-card roomName="Funny"></app-chat-room-card>
      <app-chat-room-card roomName="Aventure"></app-chat-room-card>
      <app-chat-room-card roomName="Action"></app-chat-room-card>
      <app-chat-room-card roomName="Sport"></app-chat-room-card>
      <app-chat-room-card roomName="Dance"></app-chat-room-card>
      <app-chat-room-card roomName="Movies"></app-chat-room-card>
      <app-chat-room-card roomName="Funny"></app-chat-room-card>
      <app-chat-room-card roomName="Aventure"></app-chat-room-card>
      <app-chat-room-card roomName="Action"></app-chat-room-card>
      <app-chat-room-card roomName="Sport"></app-chat-room-card>
      <app-chat-room-card roomName="Dance"></app-chat-room-card>
      <app-chat-room-card roomName="Movies"></app-chat-room-card>
      <app-chat-room-card roomName="Funny"></app-chat-room-card>
    </div>
  </section>
</div>
