<div class="container-wrapper" [ngClass]="statusMenu ? 'open' : 'close'">
  <nav class="container">
    <app-personal-card></app-personal-card>
    <div class="container-room-infos">
      <a
        *ngIf="inChatRooms; else inChat"
        routerLink="/chatrooms"
        (click)="navigateToChat()"
        >New Room</a
      >
      <ng-template #inChat>
        <a routerLink="/chatrooms/chat" (click)="navigateToChatRooms()"
          >All Rooms</a
        >
      </ng-template>
    </div>
    <a routerLink="" class="sign-out-link">Sign Out</a>
  </nav>
  <button
    aria-label="button with icon to close the side bar menu"
    class="close-button"
    (click)="toggleMenu()"
  >
    <span class="visually-hidden">Close menu</span>
    <img src="../../../assets/close-icon.svg" alt="X icon" />
  </button>
</div>
