.container {
  height: 100vh;
  min-height: 500px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #f2f2f2;
  background-image: url("../../../assets/background-view-login-register.svg");
  background-attachment: fixed;
  background-size: cover;
}
h1 {
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.6);
  background-color: #63bf7a;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  border: 2px solid #404040;
}

.container-infos {
  max-width: 500px;
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px 1px black;
  background-color: var(--third-color);
  padding: 30px 20px;
  border-radius: 15px;
  border: 3px solid var(--second-color);
  font-weight: bold;
}

.container-buttons {
  justify-content: center;
  display: flex;
  gap: 40px;
  margin-top: 25px;
}

button {
  padding: 10px 10px;
  border-radius: 4px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: white;
  background-color: #404040;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  background-color: var(--fourth-color);
}
