.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #f2f2f2;
  background-image: url("../../../assets/background-view-login-register.svg");
  background-attachment: fixed;
  background-size: cover;
}
h1 {
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.6);
  background-color: #63bf7a;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  border: 2px solid #404040;
}
