<div class="container">
  <app-side-bar-menu></app-side-bar-menu>
  <section class="container-chat">
    <app-header></app-header>
    <section class="chat-section">
      <div class="container-messages">
        <app-received-message></app-received-message>
        <app-sent-message></app-sent-message>
        <app-received-message></app-received-message>
        <app-sent-message></app-sent-message>
        <app-received-message></app-received-message>
        <app-sent-message></app-sent-message>
        <app-received-message></app-received-message>
        <app-sent-message></app-sent-message>
      </div>
    </section>
    <form (submit)="onSubmit($event)" class="form-send-message">
      <mat-form-field class="mat-form-field-sm">
        <mat-label for="message">Message:</mat-label>
        <input id="message" matInput [formControl]="message" />
      </mat-form-field>
      <button
        aria-label="Send message"
        type="submit"
        class="send-message-btn"
      ></button>
    </form>
  </section>
</div>
