<div class="container">
  <app-side-bar-menu> </app-side-bar-menu>
  <section class="container-chat">
    <app-header></app-header>
    <section class="chat-section">
      <div class="container-messages">
        <div *ngFor="let message of allMessages; let i = index">
          <app-sent-message
            *ngIf="message.author.name == actualUser; else receivedMessage"
            >{{ message.content }}</app-sent-message
          >
          <ng-template #receivedMessage>
            <app-received-message [message]="message"></app-received-message>
          </ng-template>
        </div>
      </div>
    </section>
    <form (submit)="onSubmit($event)" class="form-send-message">
      <mat-form-field appearance="outline">
        <mat-label for="message">Message:</mat-label>
        <textarea id="message" matInput [formControl]="sendMessage"></textarea>
      </mat-form-field>
      <button
        aria-label="Send message"
        type="submit"
        class="send-message-btn"
      ></button>
    </form>
  </section>
</div>
