.container {
  display: inline-block;
  width: auto;
  max-width: 40%;
  height: auto;
  padding: 20px 20px;
  border-radius: 0px 20px 20px 20px;
  gap: 10px;
  background-color: var(--fourth-color);
  color: var(--first-color);
  font-size: 18px;
  font-weight: 500;
  border: 2.5px solid rgb(0, 0, 0);
}

.container span {
  display: block;
  font-weight: 700;
  font-size: 20px;
  color: #f2f2f2;
  margin-bottom: 10px;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 60%;
  }
}
@media screen and (max-width: 600px) {
  .container {
    max-width: 80%;
    font-size: 14px;
    padding: 10px 15px;
  }
  .container span {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 85%;
    font-size: 12px;
  }
}
