.container {
  background-color: var(--second-color);
  padding: 15px 20px;
  max-width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: 20px;
  border-radius: 20px 0 20px 20px;
  color: var(--first-color);
  font-size: 18px;
  font-weight: 600;
}
