.container {
  background-color: var(--second-color);
  padding: 15px 20px;
  display: flex;
  align-self: center;
  margin-left: auto;
  max-width: 40%;
  height: auto;
  border-radius: 20px 0 20px 20px;
  color: var(--first-color);
  font-size: 18px;
  font-weight: 600;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 80%;
    font-size: 14px;
    padding: 10px 15px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 85%;
    font-size: 12px;
  }
}
