<h2 mat-dialog-title align="center">Sign Up</h2>
<div mat-dialog-content>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="custom-form-field">
      <mat-label>Nickname</mat-label>
      <input
        matInput
        type="text"
        formControlName="nickname"
        autocomplete="username"
      />
    </mat-form-field>

    <mat-form-field class="custom-form-field">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        autocomplete="current-password"
      />
    </mat-form-field>
    <div class="container-buttons">
      <button mat-button mat-dialog-close class="button-cancel">Cancel</button>
      <button mat-button>Sign up</button>
    </div>
  </form>
</div>
