<h2 mat-dialog-title align="center">Sign in</h2>
<div mat-dialog-content>
  <b *ngIf="loginFailed">Sorry we couldn't find your account. Try again.</b>
  <form
    [formGroup]="signInForm"
    (ngSubmit)="onSubmit()"
    *ngIf="!load; else loading"
  >
    <mat-form-field class="custom-form-field">
      <mat-label>Nickname</mat-label>
      <input
        matInput
        type="text"
        formControlName="nickname"
        autocomplete="username"
      />
    </mat-form-field>

    <mat-form-field class="custom-form-field">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        autocomplete="current-password"
      />
    </mat-form-field>
    <div class="container-buttons">
      <button mat-button mat-dialog-close class="button-cancel">Cancel</button>
      <button mat-button type="submit">Sign in</button>
    </div>
  </form>
  <ng-template #loading>
    <mat-progress-spinner
      class="load-spinner"
      color="primary"
      mode="indeterminate"
      [value]="50"
    >
    </mat-progress-spinner>
  </ng-template>
</div>
