<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <legend>Sign in to ChatApp</legend>
  <div class="container-fields">
    <mat-form-field>
      <mat-label>Nickname</mat-label>
      <input
        matInput
        type="text"
        formControlName="nickname"
        autocomplete="username"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        autocomplete="current-password"
      />
    </mat-form-field>
  </div>
  <button type="submit" [disabled]="!profileForm.valid">Sign in</button>
</form>
