@media screen and (max-width: 900px) {
  form {
    padding: 10px 30px;
    height: 360px;
    width: 460px;
  }
  legend {
    font-size: 22px;
  }
}

@media screen and (max-width: 500px) {
  form {
    width: 100%;
    -webkit-box-shadow: 3px 3px 1px #404040;
    -moz-box-shadow: 3px 3px 1px #404040;
    box-shadow: 3px 3px 3px 1px #404040;
  }
}
