/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;

  --first-color: #f2f2f2;
  --second-color: #404040;
  --third-color: #458c57;
  --fourth-color: #63bf7a;
  --fifth-color: #88f2a2;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
